.form {
    display: grid;
    place-items: center;
    margin: auto;
}

.contact {
    width: 400px;
    display: grid;
    gap: 1rem;
}

.message {
    word-wrap: normal;
}

[data-secure-field] iframe {
    border: 1px solid #dfdfdf;
    height: inehrit;
    vertical-align: middle;
    width: inherit;
    position: relative;
    line-height: 30px;
    height: 30px;
}